/* @import "https: //stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; */
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* background: url; */
    background-size: cover;
    background-color: white;
}

.login{
    width: 250px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.87);
}

.login h1{
    font-size: 50px;
    border-bottom: 5px solid #04fa7f;
    margin-bottom: 50px;
    padding: 15px;
}

.containerTextBox{
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #04fa7f;
}

.containerTextBox i{
    width: 25px;
    float: left;
    text-align: center;
}

.containerTextBox input{
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.87);
    font-size: 15px;
    width: 60%;
    float: left;
    margin: 10px;
}

.btn{
    width: 100%;
    background: none;
    border: 1px solid #04fa7f;
    color: rgba(255, 255, 255, 0.87);
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}